<ion-view hide-back-button="true" title= "Create a Profile">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <div class="input-label">
          Age
        </div>
      <input type="number" pattern="[0-9]*" ng-model="age">
      </label>
      <label class="item item-input item-select">
        <div class="input-label" >
              Gender
        </div>
        <select ng-model="gender">
          <option value="0" selected>Male</option>
          <option value="1">Female</option>
          <option value="2">Other</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
              Education
        </div>
        <select ng-model="education">
          <option value="0" selected>None</option>
          <option value="1">Primary</option>
          <option value="2">Secondary</option>
          <option value="3">Diploma</option>
          <option value="4">Bachelor's</option>
          <option value="5">Masters</option>
          <option value="6">Doctorate</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
              Employment Status
        </div>
        <select ng-model="employment_status">
          <option value="0" selected>Student</option>
          <option value="1">Employed</option>
          <option value="2">Unemployed</option>
        </select>
      </label>
    </div>
    <button class="button button-royal button-block" ng-click="submit(age, gender, education, employment_status)">Start the Game!</button>
  </ion-content>
</ion-view title>
