<ion-view title="Select a Question">
  <ion-content>
    <ion-list>
      <!--<button ng-repeat="question in questions" class="button button-stable button-full" ui-sref="question">
        Question {{question.id + 1}}
      </button>-->
      <button class="button button-stable button-full" ui-sref="loadQ">
        Question 1
      </button>
      <button class="button button-stable button-full" ui-sref="loadQ">
        Question 2
      </button>
      <button class="button button-stable button-full" ui-sref="loadQ">
        Question 3
      </button>
    </ion-list>
  </ion-content>
</ion-view>